<table id="mytable" align="center" cellpadding="10" cellspacing="10">
    <tr>
       <td><b>{{data.years}}<b></td>
       <td><b>{{data.months}}<b></td>
       <td><b>{{data.days}}<b></td>
       <td><b>{{data.hours}}<b></td>
       <td><b>{{data.minutes}}<b></td>
       <td><b>{{data.seconds}}<b></td>
       <td><b>{{data.microseconds}}<b></td>
    </tr>
    <tr>
       <td>Year</td>
       <td>Months</td>
       <td>Days</td>
       <td>Hours</td>
       <td>Minutes</td>
       <td>Seconds</td>
       <td>Microseconds</td>
    </tr>
</table>
